<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=q">
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="styleForForm.css">
    <title>New Product</title>
</head>
<body>
    <div class="topnav fixed-top">
        <a href="/"><b>ATN Toy Store</b></a>
        <a href="/">View website</a>
    </div>

    <div class="row">
        <div class="column left sidenav">
            <a href="/new">New Product</a>
            <a href="/all">Product Management</a>
            <a href="/">Website management</a>
        </div>
        <div class="column middle">
            <h1>Add New Product</h1>
            <hr>
            <div class="container">
                <form action="/new" method="post">
                    <div class="row">
                        <div>
                            <label for="ProductName" style="color: rgb(29, 134, 27);"><b>Product Name</b></label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="productName" name="txtName" placeholder="Product name..">
                            <span style="color: red;">{{errorName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="price" style="color: rgb(29, 134, 27);"><b>Price</b></label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="price" name="txtPrice" placeholder="Price of product..">
                            <span style="color: red;">{{errorPrice}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="Supplier" style="color: rgb(29, 134, 27);"><b>Supplier</b></label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="Supplier" name="txtSupplier" placeholder="Supplier..">
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="Promotion" style="color: rgb(29, 134, 27);"><b>Promotion</b></label>
                        </div>
                        <div class="col-75">
                            <textarea id="Promotion" name="txtPromotion" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="Description" style="color: rgb(29, 134, 27);"><b>Description</b></label>
                        </div>
                        <div class="col-75">
                            <textarea id="Description" name="txtDescription" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="img" style="color: rgb(29, 134, 27);"><b>Image</b></label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="price" name="txtURL" placeholder="Image of product..">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div> 
    </div>

    <div class="footer" style="height: 50px;">
    </div>






</body>
</html>